body{
    font-family: 'Poppins', sans-serif;
}
fieldset{
    border: 0px;
}
hr{
    height: 5px;
    color: black;
    background-color: black;
}
.box{
    display: grid;
    grid-template-columns: repeat(4, 25%);
    margin: 20px 0;
}
label{
  margin: 0 20px;
  grid-column-start: 2;
}
input, textarea{
    grid-column-start: 3;
    margin-right: 20px;
    border-radius: 5px;
    border: 1px solid black;
    padding: 5px;
}
.actionUser>.box{
    grid-template-columns: 40% 40% 20%;
}
button{
    grid-column-start: 2;
    width: 200px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid black;
    font-weight: bold;
    font-size: medium;
    background: linear-gradient(to top, rgb(220, 220, 220) 20%,rgb(240, 240, 240) 60%);
}
.hint{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#email + .hint>.triangle, #website+ .hint>.triangle{
    width: 0px;
    height: 0px;
    border-top: 11px solid transparent;
    border-bottom: 11px solid transparent;
}
#email:invalid + .hint>.triangle, #website:invalid + .hint>.triangle{
    border-right: 11px solid coral; 
} 
#email:valid + .hint>.triangle, #website:valid + .hint>.triangle{
    border-right: 11px solid green; 
} 
.hint>.rectangle{
    color: white;
    font-weight: 500;
}
#email:invalid + .hint>.rectangle::after, #website:invalid + .hint>.rectangle::after{
    content:"Form feild hint";
    background-color: coral;
}
#email:valid + .hint>.rectangle::before,#website:valid + .hint>.rectangle::before{
    content: "Form feild hint";
    background-color: green;
}