body{
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    /* color: white; */
}
header, footer{
    background: #0067A3;
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;
    color: white;
    justify-content: space-around;
}
header>h1{
    font-weight: 500;
    font-style: normal ;
    flex: 2;
}
.buttonCreate{
    display: flex;
    align-items: center;
    background: white;
    color: black;
    width: 181px;
    height: 33px;
    border-radius: 5px;
    justify-content: center;
    margin-right: 49px;
}
.profile{
    display: flex;
    align-items: center;
    margin-right: 15px;
}
.plus{
    margin-right: 10px;
}
.menu{
    margin: 0 16px;
}
.icon{
    margin-right: 7px;
}
main{
    background: #0079BF;
    display: flex;
    width: 100%;
    height: calc(100vh - 110px) ; 
    width: 100vw;
}
.task{
    display: flex;
    flex: 2;
    margin-left: 67px;
}
.task>p, footer>p{
    margin-right: 36px;
}
/*ex 12*/
.accountMenu{
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
    height: 34%;
    width: 20%;
}
.list{
    list-style: none;
    margin: 0;
    padding: 0;
}
.triangle{
    width: 0;
    height: 0;
    border-right: 20px solid transparent;
    border-left: 20px solid transparent;
    border-bottom: 10px solid white;
}