body{
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    /* color: white; */
}
header, footer{
    background: #0067A3;
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;
    color: white;
}
header>h1{
    font-weight: 500;
    font-style: normal ;
    flex: 2;
}
.buttonCreate{
    display: flex;
    align-items: center;
    background: white;
    color: black;
    width: 16%;
    height: 33px;
    border-radius: 5px;
    justify-content: center;
    margin-right: 49px;
    padding: 0px;
    font-size: medium;
    font: unset;
    border: 1px solid black;
}
.buttonCreate>p{
    margin: 5px 0;
}
#account{
    background: transparent;
    border: 0px;
    outline: transparent; 
}
#profile{
    display: flex;
    align-items: center;
    margin-right: 15px;
}
.plus{
    margin-right: 10px;
}
.menu{
    margin: 0 16px;
}
.icon{
    margin-right: 7px;
}
main{
    background: #0079BF;
    display: flex;
    width: 100%;
    height: calc(100vh - 110px) ; 
    width: 100vw;
    overflow-x: auto;
}
.tasks{
    display: flex;
    flex: 2;
    margin-left: 67px;
}
.infoDevelop, .stateTask{
    margin-right: 36px;
}

#accountMenu{
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 55px;
    left: 90%;
    font-size: medium;
    width: 10vw;
}
.itemMenu{
    margin: 2px 0;
    background: white;
    color: black;
    border: 1px solid black;
    text-align: center;
    padding: 7px 0 ;
    border-radius:  5px;
}
.itemMenu:hover{
    color: #0067A3;
    cursor: pointer;
}

@media(max-width: 800px){
    h1{
        font-size: 3vw;
    }
    .buttonCreate>p{
        display: none;
    }
    .plus{
        margin-right: 0px;
    }
    .buttonCreate{
        width: 10%;
    }
} 

@media(max-width:1200px){
    .buttonCreate>p{
        font-size: 1.5vw;
    }
}

.tabTask{
    background: #EBECF0;
    width: 282px;
    margin: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: max-content;
}
.headerTab, .footerTab{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 12px;
    padding-right: 12px;
    font-weight: normal;
}
.footerTab{
    justify-content: flex-start;
    margin-bottom: 8px;
    color: #5E6C84; 
    margin-left: 4px;
}
.headerTab>h3{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
}
.footerTab>span{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
}
.plusCard{
    margin-right: 4px;
}
.task{
    background: white;
    margin-right: 12px;
    margin-left: 12px;
    margin-bottom: 15px;
    border-radius: 5px;
    padding: 7px 9px;
}
.task>p{
    margin: 0 2px;
}
button.footerTab{
    background: transparent;
    border: 0px;
}
#newTaskInput{
    font-size: inherit;
    font-family: inherit;
    width: 100%;
    border: 0px;
}
.footerTab:hover{
    cursor: pointer;
    color: #344159;
    transform: scale(1.05);
}

