.field { 
    display:inline-block; 
    font-family: Arial, Helvetica, sans-serif;
}
label { 
    position: absolute;
    left: 5px;
    transition: all .2s linear; 
    color:#999; 
    font-size:15px; 
}
input { 
    margin-top:20px; 
    border:1px solid #999; 
    padding:3px 2px; 
}
input:placeholder-shown + label { 
    opacity:0;
    visibility: hidden; 
}
input:valid + label { 
    animation-name: opacity;
    animation-duration: 1s;
    animation-delay: 0;
    animation-iteration-count: 1;
}
input:focus { 
    border: 1px solid pink;
}
input:focus + label { 
    color:#CD0074; 
}
@keyFrames opacity{
    0%{
        opacity: 0.4;
    }
    30%{
        opacity: 0.5;
    }
    60%{
        opacity: 0.6;
    }
    90%{
        opacity: 0.7;
    }
    100%{
        opacity: 1;
    }
}